@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Comfortaa:wght@300&family=Josefin+Sans:wght@100&family=Lilita+One&display=swap');/**/

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
}

/* Estilos para el encabezado */
header {
    display: flex;
    min-height: 70px;
    background-color: #CEDEBD;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilos para el logo de la fundación */
.logo_fundacion {
    display: flex;
    align-items: center;
}

.logo_fundacion img {
    height: 60px;
    border-radius: 30px;
}

/* Estilos para el texto de la fundación */
.fundacion_de_rescate {
    margin-inline-start: 19px;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #5B9A8B;
}

/* Estilos para enlaces en la barra de navegación */
nav a {
    font-weight: 600;
    padding-right: 10px;
}

/* Estilos para enlaces en la barra de navegación al pasar el ratón */
nav a:hover {
    color: #183D3D;
}

/* Estilos para el diseño responsivo del encabezado */
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

/* Estilos para la barra de navegación */
nav {
    padding: 10px 0px;
}

/* Estilos para la sección de información de la fundación */
.fundacion_info {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

/* Estilos para imágenes en la sección de información de la fundación */
.imagen_fundacion img {
    max-width: 300px;
    border-radius: 5px;
}

/* Estilos para el contenedor del formulario de adopción */
.formulario_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para los subtítulos */
.subtitulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* mostar y ocultar formulario de adopcion */
.oculto {
    display: none;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    text-align: left;
}

/* Estilos para los subtítulos del formulario de adopción */
.subtitulo_formulario {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    border-radius: 18px;
}

/* Estilos para el formulario de adopción */
#formularioAdopcionForm {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    border-radius: 18px;
}

/* Estilos para etiquetas en el formulario de adopción */
#formularioAdopcionForm label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

/* Estilos para los inputs, selects y textareas en el formulario de adopción */
#formularioAdopcionForm input,
#formularioAdopcionForm select,
#formularioAdopcionForm textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón en el formulario de adopción */
#formularioAdopcionForm button {
    width: 37%;
    box-sizing: border-box;
    padding: 10px;
}

/* Estilos para el título */
.titulo {
    margin-top: 20px;
    text-align: center;
}

/* Estilos para el contenedor de servicios */
.contenedor-servicios {
    display: flex;
    flex-direction: column;
}

/* Estilos para las filas de servicios */
.fila-servicios {
    display: flex;
    justify-content: space-between;
}

/* Estilos para cada servicio */
.servicio {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    flex: 0 0 30%;
}

/* Estilos al pasar el ratón sobre cada servicio */
.servicio:hover {
    background-color: #f0f0f0;
}

/* Estilos para la información de cada servicio */
.info {
    padding: 10px;
    display: none;
}

/* Estilos para elementos ocultos */
.hidden {
    display: none;
}

/* Estilos para elementos visibles */
.visible {
    display: block;
}

/* Estilos para el contenedor de mascotas */
.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

/* Estilos para el título de mascotas */
.title_mascotas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para cada mascota */
.mascota {
    font-family: 'Assistant', sans-serif;
    background-color: #E1ECC8;
    border: 1px solid #435334;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    transition: background-color 0.3s;
}

/* Estilos al pasar el ratón sobre cada mascota */
.mascota:hover {
    background-color: #A4D0A4;
    color: #35155D;
}

/* Estilos para las imágenes de cada mascota */
.mascota img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 5px;
    background-color: cadetblue;
}
