@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Comfortaa:wght@300&family=Josefin+Sans:wght@100&family=Lilita+One&display=swap');/**/
body{
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #CEDEBD;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_fundacion{
    display: flex;
    align-items: center;
}

.logo_fundacion img{
    height: 60px;
    border-radius: 30px;
}

.fundacion_de_rescate{
    margin-inline-start: 19px;
}

a {
    text-decoration: none;
    color: #5B9A8B;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color:#183D3D;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}

nav{
    padding: 10px 0px;
}

/* Contenedor mascotas*/
.grid-container {
    display: flex;
    align-content: center;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}


.mascota {
    font-family: 'Assistant', sans-serif;
    background-color: #E1ECC8;
    border: 1px solid #435334;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto; 
    transition: background-color 0.3s;
}

.mascota:hover{
    background-color: #A4D0A4;
    color: white;
}

.mascota img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    padding: 5px;
    background-color: cadetblue;
  }

body{
    font-family: sans-serif;
    margin: 0;
}



header{
    display: flex;
    min-height: 70px;
    background-color: darkgreen;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_fundacion{
    display: flex;
    align-items: center;
}

.logo_fundacion img{
    height: 60px;
}


a {
    text-decoration: none;
    color: blue;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: antiquewhite;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}

nav{
    padding: 10px 0px;
}