@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Comfortaa:wght@300&family=Josefin+Sans:wght@100&family=Lilita+One&display=swap');/**/

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
}

/* estilos de encabezado y navegación */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo_fundacion {
    display: flex;
    align-items: center;
}

.logo_fundacion img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 28px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}
/* Estilos para la barra de navegación */
nav {
    padding: 10px 0px;
}
/* Estilos para enlaces en la barra de navegación al pasar el ratón */
nav a:hover {
    color: #99B080;
}
/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #5B9A8B;
}
/* Estilos para enlaces en la barra de navegación */
nav a {
    font-weight: 600;
    padding-right: 10px;
}

/* Estilos para el diseño responsivo del encabezado */
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

/* END HEADER */


/* Estilos para el texto de la fundación */
.fundacion_de_rescate {
    margin-inline-start: 19px;
}

/* Estilos de los banner */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    font-size: 48px;
    padding-top: 50px;
}

.slider_box {
width: 1280px;
height: auto;
margin: 50px auto 0;
overflow: hidden;
}
.slider_box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider_box li {
width: 100%;
list-style: none;
position: relative;
}

.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: cornsilk;
}

.slider_box img{
    width: 75%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
   45% {margin-left: -100%;}

   50%{margin-left: -200%;}
   70%{margin-left: -200%;}

   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
}

@media(max-width:991px){
    body{
        padding: 30px;
    }
    .slider-box{
        width: 100%;
    }

    .texto {
        top: 50px;
        padding: 0;
    }
}

/* Termina el Estilos de los banner */



/* Estilos para la sección de información de la fundación */
.fundacion_info {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #5B9A8B; 
}

/* Estilos para imágenes en la sección de información de la fundación */
.imagen_fundacion img {
    max-width: 300px;
    border-radius: 5px;
}

/* Estilos para el contenedor del formulario de adopción */
.formulario_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para los subtítulos */
.subtitulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* mostar y ocultar formulario de adopcion */
.oculto {
    display: none;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    text-align: left;
}

/* Estilos para los subtítulos del formulario de adopción */
.subtitulo_formulario {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    border-radius: 18px;
}

/* Estilos para el formulario de adopción */
#formularioAdopcionForm {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    border-radius: 18px;
}

/* Estilos para etiquetas en el formulario de adopción */
#formularioAdopcionForm label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

/* Estilos para los inputs, selects y textareas en el formulario de adopción */
#formularioAdopcionForm input,
#formularioAdopcionForm select,
#formularioAdopcionForm textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón en el formulario de adopción */
#formularioAdopcionForm button {
    width: 37%;
    box-sizing: border-box;
    padding: 10px;
}

/* Estilos para el título */
.titulo {
    margin-top: 20px;
    text-align: center;
}

/* Estilos para el contenedor de servicios */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; /* Permite que los servicios se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: space-between;
}
.service {
    flex: 0 1 calc(33.33% - 10px); /* Hace que cada servicio ocupe el 33.33% del ancho, con espacio entre ellos */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.service:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.service h2 {
    margin-top: 0;
}

.service-details {
    display: none;
}

.service-details p {
    margin: 5px 0;
}

/* Estilos para las quienes somos en la pag SobreNosotro.html */
/* Estilos para la página "Quiénes Somos" */
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

#headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.mision,
.vision,
.metas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 48%;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mision h2,
.vision h2,
.metas h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.mision p,
.vision p,
.metas p {
    text-align: left;
    margin: 10px;
}

.metas ul {
    list-style-type: square;
}

/* Ajusta los colores y otros estilos según tus preferencias */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}
/* END pag SobreNosotro.html */

/* Estilos para las mascotas en la pag adopta.html */
/* Estilos para los contenedores de mascotas */
.contenedores-mascotas {
    display: grid;    
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.mascota-contenedor {
    font-family: 'Assistant', sans-serif;
    background-color: #E1ECC8;
    border: 1px solid #435334;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto; 
    transition: background-color 0.3s;


}

.mascota-contenedor:hover {
    transform: scale(1.05);
    background-color: #A4D0A4;
    color: #35155D;

}

.mascota-contenedor img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.mascota-contenedor p {
    margin: 5px 0;
}

/* END Estilos de mascotas */

/* Formulario de donación */
.donation-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* END donaciones */


/* Ajustes para el footer */
footer {
    text-align: center;
    padding: 15px; /* Incrementé el padding para dar más espacio al contenido del pie de página */
    background-color: cadetblue;
    clear: both; /* Añadí clear: both para asegurarme de que el pie de página se posicione correctamente y evite posibles flotaciones */
  }
  